@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css);

/*
	Supported Providers:
		→ Apple
		→ BlobMoji
		→ Facebook
		→ Google
		→ Huawei
		→ JoyPixels
		→ Microsoft
		→ Microsoft-3D
		→ OpenMoji
		→ Samsung
		→ Samsung-Old
		→ Toss
		→ WhatsApp
*/
